<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <h1>Parth Patel</h1>
      <p>N01581245</p>
    </div>

    <div class="content">
      <pre>{{{body}}}</pre>
    </div>

    <div class="footer">
      <p>pmp3820@gmail.com</p>
    </div>
  </body>
</html>
