table {
    
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}


.highlight {
  background-color: rgba(99, 58, 8, 0.688); 
}


th, td {
  border: 1px solid #dddddd;
  padding: 2px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dddddd;
  color: #333333;
}


.header {
  background-color: rgb(45, 18, 18);
  font-size: small;
  text-align: center;
  color: #fff;
  padding: 2px;
  width: 100%;
  box-sizing: border-box; 
}

.footer {
  background-color:  rgb(45, 18, 18);
  color: #fff;
  height: 90px;
  text-align: center;
  padding: 10px;
  position:fixed;
/* text-emphasis-color:  red; */
  bottom: 0;
  width: 100%;
  font-size: medium;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer ul li :hover{
  color: #14465a;
}

.footer ul li img {
  vertical-align: middle;
  margin-left: 5px;
}

/* .content {
  padding: 10px;
  margin-top: 0%;
  text-align: center; 
  justify-content:center;
}
 */

 
 .content {
  position: fixed;
  top: 33%;
  left: 50%;
  height: 3x;
  transform: translate(-50%, -50%);
}
a:hover{
  color: #14465a;
}


a {
  color: #e9f0f3;
}

