<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Search Results</title>
    
</head>
<body>
    <h1>Restaurant Search Results</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Borough</th>
                <th>Cuisine</th>
            </tr>
        </thead>
        <tbody>
            {{#each restaurants}}
            <tr>
                <td>{{name}}</td>
                <td>{{borough}}</td>
                <td>{{cuisine}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
